<div class="container mt-4">
  <h1>Add New Task</h1>

  <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label"><h3>Task Name</h3></label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="task.name"
        class="form-control"
        placeholder="Enter task name"
        required
      />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label"><h3>Description</h3></label>
      <textarea
  id="description"
  name="description"
  [(ngModel)]="task.description"
  class="form-control"
  placeholder="Enter task description"
  maxlength="1000">
</textarea>
<small class="text-muted">Max 1000 characters</small>

    </div>

    <div class="form-check mb-3">
      <input
        type="checkbox"
        id="completed"
        name="completed"
        [(ngModel)]="task.completed"
        class="form-check-input"
      />
      <label class="form-check-label" for="completed">Mark as Completed</label>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-success me-3">Add Task</button>
      <a routerLink="/tasks" class="btn btn-secondary">Cancel</a>
    </div>
  </form>
</div>
